<template>
  <div class="container">
    <!-- Obtiene el nombre del pokemon al recorrer el arreglo llamado forms -->
    <div
      class="p-3 mb-2 bg-warning text-dark text-center"
      v-for="(name, index) in name"
      :key="index"
    >
      <b
        ><h2>{{ name }}</h2></b
      >
    </div>
    <br />
    <div class="row">
      <div class="col-4">
        <b><h5>Habilidades</h5></b>
        <!-- Obtiene la lista de habilidades al recorrer el arreglo llamado abilities -->
        <ul>
          <li v-for="(ability, index) in abilities" :key="index">
            {{ ability }}
          </li>
        </ul>
      </div>
      <div class="col-4">
        <!-- Obtiene las imágenes del pokemon al acceder a la data llamada sprites -->
        <u><p class="text-center">Versión Normal</p></u>
        <img :src="image" />
        <img :src="image1" />
      </div>
      <div class="col-4">
        <!-- Obtiene las imágenes del pokemon en su version shiny al acceder a la data del item sprites -->
        <u><p class="text-center">Versión Variocolor</p></u>
        <img :src="image2" />
        <img :src="image3" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //variable que contiene la url de la segunda API de los detalles del pokemon
  props: ["url"],

  data() {
    //variables inicializadas que guardaran lo que se obtenga de los métodos
    return {
      name: [],
      abilities: [],
      image: null,
      image1: null,
    };
  },
  mounted() {
    console.log("Component mounted.");
    this.getPokemonDetail();
  },
  methods: {
    getPokemonDetail() {
      axios
        .get(this.url)
        .then((response) => {
          
          //retorna el nombre del pokemon del arreglo llamado forms
          this.name = response.data.forms.map((name) => {
            return name.name;
          });

          //retorna el nombre de la habilidad del pokemon del arreglo llamado abilities
          this.abilities = response.data.abilities.map((ability) => {
            return ability.ability.name;
          });

          //retorna las imagenes del pokemon accediendo al item llamado sprites
          this.image = response.data.sprites.front_default;
          console.log(response);

          this.image1 = response.data.sprites.back_default;
          console.log(response);

          this.image2 = response.data.sprites.front_shiny;
          console.log(response);

          this.image3 = response.data.sprites.back_shiny;
          console.log(response);
        })
        .catch((error) => {
          // handle error
          console.log(error);
        });
    },
  },
};
</script>
