<template>
  <div class="container">
    <div class="row">
    <!-- Arreglo que recorre la lista de la API donde se encuentra el nombre de pokemon y su URL-->
      <a
        :href="`/pokemon?url=${pokemon.url}`"
        class="justify-content-center text-center card col-md-4"
        v-for="(pokemon, index) in list"
        :key="index"
      >
        <span class="p-5">{{ pokemon.name }} </span>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  //retorna la lista con los pokemones de la API
  data() {
    return {
      list: [],
    };
  },
  mounted() {
    console.log("Component mounted.");
    this.getPokemonList();
  },
  //consume la primera API para obtener el nombre del pokemon y su URL
  methods: {
    getPokemonList() {
      axios
        .get("https://pokeapi.co/api/v2/pokemon/")
        .then((response) => {
          // handle success
          this.list = response.data.results;
          console.log(response.data.results, this.list);
        })
        .catch((error) => {
          // handle error
          console.log(error);
        });
    },
  },
};
</script>
